<!DOCTYPE html>
<html>

<head>
    <title>eShop</title>
    <link rel="stylesheet" href="style.css">
    <link rel="stylesheet" href="normalize.css">
</head>

<body>
    <div id="app">
        <header>
            <input type="text" class="goods-search" v-model="searchLine" />
            <button @click="filterGoods(searchLine)" class="search-button" type="button">Искать</button>
            <button class="cart-button" type="button">Корзина</button>
        </header>
        <main>
            <div class="goods-list">
                <div id="empty_list" class="empty_list invisible">Нет результатов по запросу {{searchRequest}}</div>
                <div class="goods-item" v-for="good in filteredGoods">
                    <img src="https://via.placeholder.com/200x120" alt="">
                    <h3>{{ good.product_name }}</h3>
                    <p>{{ good.price }}</p>
                </div>
            </div>
        </main>


    </div>

    <script src="https://cdn.jsdelivr.net/npm/vue@2.5.17/dist/vue.js"></script>
    <script src="script.js"></script>
</body>

</html>