<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Интернет-магазин</title>
    <link rel="stylesheet" href="style/normalize.css">
    <link rel="stylesheet" href="style/style.css">
</head>
<body>
    <div id="app">
        <header>
            <div class="logo">E-shop</div>
            <div class="cart">
                <form action="#" class="search-form">
                    <input type="text" class="search-field">
                    <button class="btn-search" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
                <button class="btn-cart" @click="toggle()" type="button">Корзина</button>
                <div class="cart-block" v-if="classInvisible" >
                    <div class="cart-item" v-for="elem of basket" >
                        <div class="product-bio">
                            <img :src="cartImage" alt="Some image">
                            <div class="product-desc">
                                <p class="product-title">{{elem.product_name}}</p>
                                <p class="product-quantity">Quantity: {{elem.quantity}}</p>
                                <p class="product-single-price">${{elem.price}} each</p>
                            </div>
                        </div>
                        <div class="right-block">
                            <p class="product-price">{{elem.quantity * elem.price}}</p>
                            <button class="del-btn" 
                            @click="removeProduct(elem)"
                            name="del-btn">&times;</button>
                        </div>
                    </div>
                </div>
            </div>
        </header>
        <main>        
            <div class="products">
                <div class="product-item" v-for="item of items">
                    <img :src="image" alt="Some img">
                    <div class="desc">
                        <h3>{{item.product_name}}</h3>
                        <p>{{item.price}} $</p>
                        <button class="buy-btn" 
                        name="buy-btn"
                        @click="addProduct(item)">Купить</button>
                    </div>
                </div>
            </div>                
        </main>
    </div> 

    
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script>   
        let app = new Vue ({
            el: '#app',
            data: {
                items: [],
                basket: [],
                image: 'https://placehold.it/200x150',
                cartImage: 'https://placehold.it/100x80',
                imgURL: '../../Project/iswebpack/src/public/img',                
                catalogURL: 'https://raw.githubusercontent.com/OlgaZh-UX/js2_12_0502/master/students/Zhalnina%20Olga/Project/iswebpack/src/server/db/catalog.json',
                basketURL: 'https://raw.githubusercontent.com/OlgaZh-UX/js2_12_0502/master/students/Zhalnina%20Olga/Project/iswebpack/src/server/db/basket.json',
                classInvisible: false
            },
            methods: {
                getData (url) {
                    return fetch(url).then(d => d.json())                    
                },
                addProduct (item) {
                    let find = this.basket.find (element => element.id_product == item.id_product)                    
                    if (!find) {
                        item.quantity = 1
                        this.basket.push (item)                            
                    }  else {
                        find.quantity++
                    }

                },
                removeProduct (item) {
                    let find = this.basket.find (element => element.id_product == item.id_product)                    
                    if (find.quantity > 1) {
                        find.quantity--
                    }  else {
                        this.basket.splice (this.basket.indexOf(find), 1)
                    }                    
                },
                toggle () {
                    this.classInvisible = !this.classInvisible
                }                
            },
            computed:{
                
            },
            mounted () {
                this.getData(this.catalogURL)
                    .then(posts => {
                        this.items = posts
                        console.log(this.items)
                    })
                
                this.getData(this.basketURL)
                    .then(posts => {
                        this.basket = posts.contents
                        console.log(this.basket)
                    })
            }
        })       
        
    </script>    
</body>
</html>
