
#form {
  width: 650px;
  margin: 0 auto;
}

p select {
  display: block;
  margin: 20px;
}

.chek {
  display: flex;
  border: 1 black solid;
}

.chekIn {
  display: block;
  width: 100%;
  min-height: 20px;
  font-size: 18;
  margin: 10px auto;
  border: solid black 1px;
}