<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>E-shop</title>
    <link rel="stylesheet" href="normalize.css">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">
        <header>
            <a href="#" class="logo">E-shop</a>
            <div class="cart">
                <form action="#" class="search-form">
                    <input v-model="inputValue" type="text" class="search-field">
                    <button @click="filterProducts" class="btn-search" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
                <button @click="controlModalWindow" class="btn-cart" type="button">Корзина</button>
                <div v-if="hiddenBasket" class="cart-block-wrapper">
                    <div v-for="basketItem of basketItems.contents" class="cart-block">
                        <div class="cart-item">
                            <div class="product-bio">
                                <img class="product-basket-image" :src="img" alt="Some image">
                                <div class="product-desc">
                                    <p class="product-title">{{ basketItem.product_name }}</p>
                                    <p class="product-quantity">Quantity: {{ basketItem.quantity }}</p>
                                    <p class="product-single-price">{{ basketItem.price }} $ each</p>
                                </div>
                            </div>
                            <div class="right-block">
                                <p class="product-price">{{ basketItem.price * basketItem.quantity }}</p>
                                <button @click="removeProduct(basketItem)" class="del-btn">&times;</button>
                            </div>
                        </div>
                    </div>
                    <div v-if= "seenTotalsum" class="total-sum">Total price: {{ basketItems.amount }} $</div>
                </div>

            </div>
        </header>
        <main>
            <div class="products">
                <div class="product-item" v-for="catalogItem of filterCatalogItems">
                    <img :src="img" alt="Some img">
                    <div class="desc">
                        <h3>{{ catalogItem.product_name }}</h3>
                        <p>{{ catalogItem.price }} $</p>
                        <button @click="addProduct(catalogItem)" class="buy-btn">Купить</button>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js"
        integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="app.js" ></script>
</body>

</html>