*{
    box-sizing: border-box;
}

body{
    font-family: 'SF Pro Display', sans-serif;
}
header{
    display: flex;
    background-color: #aa2675;
    justify-content: space-between;
    color: #fafafa;
    padding: 30px 80px;
}
button:focus{
    outline: none;
}
.logo{

    text-transform: uppercase;
    font-weight: bold;
}
.btn-cart{
    background-color: #fafafa;
    padding: 10px 20px;
    border: 1px solid transparent;
    color: #2f2a2d;
    border-radius: 5px;
    transition: all ease-in-out .4s;
    cursor: pointer;
}
.btn-cart:hover{
    background-color: transparent;
    border-color: #fafafa;
    color: #fafafa;
}
.btn-cart, .logo{
    align-self: center;
}
/*.products {*/
/*display: flex;*/
/*justify-content: space-between;*/
/*flex-wrap: wrap;*/
/*padding: 40px 80px;*/
/*}*/
.products{
    column-gap: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, 200px);
    grid-template-rows: 1fr;
    padding: 40px 80px;
    justify-content: space-between;
}
p {
    margin: 0 0 5px 0;
}
.product-item{
    display: flex;
    flex-direction: column;
    width: 200px;
    border-radius: 5px;
    overflow: hidden;
    margin: 20px 0;
}
img {
    max-width: 100%;
    height: auto
}
.desc {
    border: 1px solid #c0c0c040;
    padding: 15px
}
.cart{
    position: relative;
}
.cart-block{
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.62);
    border-radius: 5px;
    box-sizing: border-box;
    right: 0;
    top: 130%;
    position: absolute;
    background-color: white;
    padding: 20px;
    color: black;
    width: 300px;
    z-index: 2;
}
.empty_cart_maessage{
    text-align: center;
    display: block;
    margin: 0 auto;
}
.invisible{
    display: none;
}
.cart-block:before{
    content: '';
    width: 0;
    height: 0;
    position: absolute;
    top: -10px;
    right: 35px;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-bottom: 10px solid white;
}

.buy-btn, .del-btn{
    margin-top: 5px;
    background-color: #2f2a2d;
    padding: 5px 15px;
    border: 1px solid transparent;
    color: #fafafa;
    border-radius: 5px;
    transition: all ease-in-out .4s;
    cursor: pointer;
}
.buy-btn:hover, .del-btn:hover{
    background-color: #fafafa;
    color: #2f2a2d;
    border: 1px solid #2f2a2d;
}
.cart-item {
    display: flex;
    justify-content: space-between;
}
.cart-item:not(:last-child){
    margin-bottom: 20px;
}
.product-bio{
    display: flex;
}
.cart-item img{
    align-self: flex-start;
    margin-right: 15px;
    width: 50%;
}
.product-single-price{
    color: #474747;
    font-size: 0.8em;
}
.product-price{
    margin-left: 30px;
}
.product-desc{
    max-width: 150px;
}
.product-quantity {
    margin-top: 15px;
    font-size: 0.75em;
}
.right-block{
    text-align: right;
}
.btn-search {
    transition-duration: 0.3s;
    background-color: transparent;
    border: none;
    color: #fafafa;
    font-size: 1.2em;
    position: absolute;
    bottom: 5px;
    right: 0;
    cursor: pointer;

}
.btn-search:active{
    transform: scale(0.9);
}
.fa-search{
    transition-duration: 0.3s;
}
.fa-search:hover{
    color: rgba(35, 255, 237, 0.993);
}
.search-form{
    position: relative;
    margin-right: 50px;
    display: inline-block;
}
.search-field:focus{
    outline: none;
}
.search-field {
    box-sizing: border-box;
    width: 200px;
    color: #fafafa;
    padding: 10px;
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #fafafa;
}

/* Стили для формы обратной связи */
.callBack{
    position: fixed;
    width: 80px;
    height: 80px;
    right: 50px;
    bottom: 50px;
    z-index: 1;
}
.callback-Btn{
    border: none;
    background: none;
}
.callback-Btn .fa-headset{
    width: 100%;
    height: 100%;
    transition-duration: 0.3s;
    color: #2f2a2d;
}

.callback-Btn .fa-headset:hover{
    color: grey;
}

.callback-Btn .fa-headset:active{
    transform: scale(0.9);
}

/* Стили блока формы */

.hidden{
    display: none;
}
.text-wrp{
    display: block;
    width: 700px;
    margin: 0 auto 50px auto;
    border: 1px solid black;
    padding: 10px;
}
.text{
    text-align: left;
    font-family: sans-serif;
    line-height: 1.5;
}
.text-btn{
    transition-duration: 0.3s;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: indigo;
    color: white;
    border: none;
    font-family: sans-serif;
    font-size: 20px;
    outline: none;
}
.text-btn:hover{
    background-color: rgb(126, 55, 177);
}
.text-btn:active{
    background-color: rgb(18, 2, 29);
}

.form{
    position: absolute;
    right: 0;
    bottom: 0;
    text-align: right;
    display: inline-block;
    padding: 70px 40px 40px 40px;
    border-radius: 15px;
    border: 1px solid lightgrey;
    margin: 0 auto;
    background-color: white;
    
}
.close-form{
    position: absolute;
    right: 20px;
    top: 20px;
    transition-duration: 0.3s;
    display: inline-block;
    margin-bottom: 20px;
    margin-left: 20px;
    color: #2f2a2d;
    font-size: 28px;
    cursor: pointer;
}
.close-form:hover{
    color: grey;
}
.form-message{
    display: block;
    width: 70px;
}
.form input,
.form button,
.form_textarea{
    width: 300px;
    display: block;
    margin: 0 auto 20px auto;
    padding: 15px;
    outline: none;
    border-radius: 8px;
    border: 2px solid gray;
}
.form input:focus,
.form_textarea:focus{
    background-color: none;
}

.form .form_btn-submit{
    background-color: #2f2a2d;
    font-family: sans-serif;
    font-size: 17px;
    transition-duration: 0.3s;
    font-weight: bold;
    color: white;
    
}
/* .form-block{
    border: 1px solid red;
} */
.form .form_btn-submit:hover{
    background-color: white;
    color: black;
    cursor: pointer;
}
.form .valid{
    border:1px solid greenyellow;
}
.form .novalid{
    border:1px solid red;
}
.form .formValid{
    background-color: greenyellow;
}
.form .formNovalid{
    background-color: red;
}