<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Интернет-магазин</title>
    <script>console.time('Loading')</script>
    <style>
        @import "style/style.css";
        @import "style/normalize.css";
    </style>
</head>
<body>
    <div id="app">
        <header>
            <div class="logo">E-shop</div>
            <div class="cart">
                <form action="#" class="search-form">
                    <input type="text" class="search-field">
                    <button class="btn-search" type="submit">
                        <i class="fas fa-search"></i>
                    </button>
                </form>
                <button class="btn-cart" type="button" @click="cart_visible = !cart_visible">Корзина</button>
                <div class="cart-block" v-show="cart_visible">
                    <p v-if="cart_items.length === 0">Корзина пуста.</p>
                    <div class="cart-item" v-for="cart_item of cart_items">
                        <img :src="cart_item.img+'?69x93'" :alt="cart_item.product_name">
                        <div class="product-bio">
                            <p class="cart-item-name">{{ cart_item.product_name }}</p>
                            <p class="product-price right-block">{{ cart_item.price }}$</p>
                            <div class="quantity">
                                <button name="count-modifier" @click="setCount(cart_item, cart_item.quantity-1)" class="btn">-</button>
                                <input name="quantity" type="number" v-on:change="setCount(cart_item, cart_item.quantity)" v-model.lazy="cart_item.quantity" onclick="event.target.select()">
                                <button name="count-modifier" @click="setCount(cart_item, cart_item.quantity+1)" class="btn">+</button>
                            </div><br>
                        <button name="remove" class="btn" @click="setCount(cart_item)"></button>
                        </div>
                    </div>
                    <div v-if="this.cart_items.length > 0">
                        <hr>
                        Товаров в корзине: {{ this.cart_quantity }} (стаков: {{ this.cart_items.length }})<br>
                        Общая стоимость: {{ this.cart_price }}$
                        <button name="wipe" class="btn" @click="wipe()">Очистить корзину</button>
                    </div>
                </div>
            </div>
        </header>
        <main>
            <div class="products">
                <div class="product-item" v-for="product_item of catalog_items">
                    <img :src="product_item.img+'?225x311'" :alt="product_item.product_name">
                    <div class="desc">
                        <h3>{{ product_item.product_name }}</h3>
                        <p>{{ product_item.price }}$</p>
                        <button name="buy" class="btn" @click="addProduct(product_item)">Купить</button>
                    </div>
                </div>
            </div>
        </main>
    </div>
    <script defer src="https://use.fontawesome.com/releases/v5.7.2/js/all.js" integrity="sha384-0pzryjIRos8mFBWMzSSZApWtPl/5++eIfzYmTgBBmXYdhvxPc+XcFEk+zJwDgWbP" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="js/main.js"></script>
</body>
</html>
